:root {
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

/* UTILITY CLASSES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem;
    background-color: var(--gray-100);
    flex: 0 1 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.gradient-text {
    background: linear-gradient(to right, var(--blue-500), var(--red-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    justify-content: end;
    width: 20%;
}

.nav-links > li {
    padding: 0 1rem;
    transition: .2s ease;
}

.nav-links > li:hover {
    transform: scale(1.2);
}

.menu-icon {
    display: none;
}

/* MAIN STYLING */
main {
    flex: 1 1 auto;
    background-color: var(--gray-100);
}

/* FOOTER STYLING */
footer {
    flex: 0 1 auto;
    background-color: var(--gray-100);
    padding: 0.5rem 4rem;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.5rem 4rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon p {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 1.5rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon p {
        font-size: 20px;
    }
}