:root {
    --white: #ffffff;
    --black: #000000;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
    --pink-100: #fce7f3;
    --pink-200: #fbcfe8;
    --pink-300: #f9a8d4;
    --pink-400: #f472b6;
    --pink-500: #ec4899;
    --pink-600: #db2777;
    --pink-700: #be185d;
    --pink-800: #9d174d;
    --pink-900: #831843;
    --purple-100: #f3e8ff;
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;
    --purple-400: #c084fc;
    --purple-500: #a855f7;
    --purple-600: #9333ea;
    --purple-700: #7e22ce;
    --purple-800: #6b21a8;
    --purple-900: #581c87;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

/* UTILITY CLASSES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: linear-gradient(45deg, var(--gray-100), var(--purple-100), var(--purple-100));
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.gray-700 {
    color: var(--gray-700);
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem;
    flex: 0 1 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--gray-900);
    color: var(--purple-100);
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(20deg) rotateX(20deg);
}

.logo::before,
.logo::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.logo::before {
    inset: 0.2rem;
    background: var(--black);
    transform: translateZ(-0.9rem);
    filter: blur(0.5rem);
    opacity: 0.5;
}

.logo::after {
    inset: -0.2rem;
    background: linear-gradient(45deg, var(--purple-500), var(--blue-500));
    transform: translateZ(-1rem);
}

.gradient-text {
    background: linear-gradient(to right, var(--blue-500), var(--red-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    justify-content: end;
    width: 20%;
}

.nav-links > li {
    padding: 0 0 0 1rem;
    transition: .2s ease;
}

.nav-links > li:hover {
    transform: scale(1.2);
}

.menu-icon {
    display: none;
}

/* MAIN STYLING */
main {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.main-message {
    text-align: center;
    margin: 5rem 25rem 1rem;
    font-size: 3.5rem;
    color: var(--gray-900)
}

.main-button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
    gap: 2rem;
}

.btn {
    padding: 1rem 2rem;
    border: thin solid var(--gray-400);
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: var(--gray-200);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: .2s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--gray-100);
}

/* FOOTER STYLING */
footer {
    flex: 0 1 auto;
    padding: 0.5rem 4rem;
    text-align: center;
}

/* LOGIN AND SIGNUP PAGE STYLING */

.login-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 10rem;
}

.login-message {
    text-align: center;
    margin: 3rem 25rem;
    font-size: 1.5rem;
    color: var(--gray-900)
}

.signin-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

.signin-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.signin-field > label {
    align-self: start;
    color: var(--gray-700);
}

.signin-field > input {
    align-self: center;
    padding: 1rem 1rem;
    border: thin solid var(--gray-400);
    color: var(--gray-700);
    border-radius: 0.5rem;
    background-color: var(--gray-100);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 0.5rem 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

.passwords {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.link {
    color: var(--purple-900);
}

.signin-btn {
    padding: 1rem 1rem;
    border: thin solid var(--purple-400);
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: var(--purple-200);
    color: var(--gray-900);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: .2s ease;
    margin: 0.5rem 0 2rem;
    width: 100%;
}

.signin-btn:hover {
    background-color: var(--purple-100);
}

.form-errors {
    color: var(--red-500);
    font-size: 0.8rem;
    margin: 0.5rem 0 2rem;
    width: 30%;
}

.error-item {
    margin: 0.5rem 0;
}

/* PROFILE SIDEBAR STYLING */
.profile-container {
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}

.sidebar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: var(--purple-200);
}

.opened {
    flex: 0 1 auto;
    text-align: start;
    align-items: flex-start;
    padding: 2rem 0 2rem 1rem;
}

.closed {
    flex: 0 1 auto;
    text-align: center;
    align-items: center;
}

.opened .sidebar-main-options {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.opened .logo-link {
    margin-left: 0.1rem;
}

.logo-link > .logo {
    font-size: 1rem;
    margin: 0 0 2rem 1rem;
    transition: 0.2s ease-in;
}

.closed .logo {
    margin: 1rem 1rem 2rem 1rem;
}

.logo-link > .logo:hover {
    transform: scale(1.1);
}

.opened .sidebar-links > li {
    width: 200px;
    padding: 1rem 3rem 1rem 0;
    transition: .2s ease-in;
    position: relative;
}

.opened .sidebar-links > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: .2s ease;
}

.opened .sidebar-links > li:hover::before {
    background-color: var(--purple-900);
}

.opened .sidebar-links > li:hover {
    transform: scale(1.1);
    translate: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--gray-100);
}

.opened a > i {
    color: var(--purple-900);
    margin: 0 0.5rem 0 1rem;
}

.profile-content {
    display: flex;
    flex-flow: column;
    padding: 1rem 3rem;
    text-align: start;
    background-color: var(--gray-100);
    flex: 1 1 auto;
}

.closed i + span {
    font-size: 0;
}

.closed i {
    font-size: 1.5rem;
    color: var(--purple-900);
}

.closed li {
    margin: 1.5rem 0;
    transition: 0.2s ease;
}

.closed li:hover {
    transform: scale(1.5);
}

.closed .sidebar-main-options {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*PROFILE SEARCH BAR STYLING */
.search-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex: 0 1 auto;
}

.form-container {
    flex-grow: 1;
}

.searchbar {
    display: flex;
    gap: 1rem;
}

.searchbar label {
    flex-grow: 1;
}

.searchbar input {
    font-size: 1rem;
    padding: 1rem 1rem;
    border: thin solid var(--gray-400);
    color: var(--gray-700);
    border-radius: 0.5rem;
    background-color: var(--gray-100);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 100%;
}

.searchbar button {
    font-size: 1.3rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.searchbar i {
    color: var(--gray-900);
    transition: .2s ease;
}

.searchbar i:hover {
    transform: scale(1.3);
}

.add-task-btn {
    font-size: 1rem;
    padding: 1rem 1rem;
    border: none;
    color: var(--white);
    border-radius: 0.5rem;
    background: linear-gradient(to right, var(--purple-600), var(--blue-500));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    transition: .2s ease;
}

.add-task-btn:hover {
    transform: scale(1.1);
}

.add-task-btn i {
    margin-right: 0.5rem;
}

.avatar-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.avatar-container i {
    font-size: 1.5rem;
    color: var(--gray-900);
    transition: .2s ease;
}

.avatar-container span {
    font-size: 1.1rem;
}

/* PROFILE DASHBOARD STYLING */
.dashboard-container {
    margin: 2rem 0 1rem;
    padding: 1rem;
    flex: 1 1 auto;
    border-radius: 0.5rem;
    background-color: var(--purple-100);
    opacity: 0.8;
    background-image: radial-gradient(var(--purple-900) 0.5px, transparent 0.5px), radial-gradient(var(--purple-700) 0.5px, var(--purple-100) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* PROFILE TASKS CARDS STYLING */
.todo {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.latest {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-left-style: solid;
    border-left-color: var(--red-500);
    border-left-width: 0.5rem;
    background-color: var(--gray-100);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: .2s ease;
}

.task-card.completed {
    border-left-color: var(--green-500);
}

.task-card:hover {
    transform: scale(1.02);
}

.task-title {
    flex: 1 1 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--gray-700);
}

.task-description {
    flex: 1 1 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    font-size: 0.9rem;
    color: var(--gray-500);
}

.task-progress {
    flex: 0 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border: thin solid;
    border-radius: 50%;
    padding: 0.5rem;
}

.task-options {
    flex: 0 1 0;
    display: flex;
    justify-content: end;
}

.statistic-card {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--gray-100);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: .2s ease;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .login-container {
        padding: 5rem 5rem;
    }

    .login-message {
        margin: 3rem 5rem;
    }

    .signin-form {
        width: 40%;
    }

    .form-errors {
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        padding: 1.5rem 4rem;
    }

    .login-container {
        padding: 5rem 5rem;
    }

    .login-message {
        margin: 3rem 5rem;
    }

    .signin-form {
        width: 50%;
    }

    .form-errors {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.5rem 4rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        transition: .2s ease;
    }

    .menu-icon:hover {
        transform: scale(1.2);
    }

    .menu-icon i {
        font-size: 1.4rem;
    }

    .login-container {
        padding: 5rem 5rem;
    }

    .login-message {
        margin: 3rem 5rem;
    }

    .signin-form {
        width: 70%;
    }

    .form-errors {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 1.5rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon p {
        font-size: 20px;
    }

    .login-container {
        padding: 5rem 1rem;
    }

    .login-message {
        margin: 3rem 2rem;
    }

    .signin-form {
        width: 90%;
    }
}
