{% extends 'base.html' %}
{% load static %}

{% block css %}
      <link rel="stylesheet" href={% static 'activities/css/style.css' %}>
{% endblock %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include 'activities/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <h1 class="main-message">Plan your activities with Activity Manager.</h1>
        <p>Create, update, and delete tasks and share them with others.</p>
        <div class="main-button-group">
            <a href="#" class="btn btn-primary">Get Started</a>
            <a href="#" class="btn btn-primary">View Features</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'activities/footer.html' %}
{% endblock %}
```
