<nav id="sidebar" class="sidebar opened">
    <div class="sidebar-main-options">
        <a id="logo" class="logo-link" href="#">
            <div class="logo">AM</div>
        </a>

        <ul class="sidebar-links">
            <li><a href="{% url 'activities:profile' %}"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa-solid fa-users"></i><span>Teams</span></a></li>
            <li><a href="{% url 'activities:task_list' %}"><i class="fa-solid fa-list-check"></i><span>Activities</span></a></li>
            <li><a href="#"><i class="fa-regular fa-calendar"></i><span>Calendar</span></a></li>
        </ul>
    </div>

    <ul class="sidebar-links">
        <li><a href="#"><i class="fa-solid fa-gear"></i><span>Settings</span></a></li>
        <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
    </ul>
</nav>