{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'activities/css/style.css' %}>
{% endblock %}

{% block title %}Activities List{% endblock %}

{% block content %}
    <div class="profile-container">
        {% include 'activities/sidebar.html' %}
        <div class="profile-content">
            {% include 'activities/searchbar.html' %}
            <div class="dashboard-container">
                {% for team in teams %}
                <div class="team">
                    <h1>{{ team.name }}</h1>
                    <p>{{ team.description }}</p>
                    <a href="{{ team.get_absolute_url }}">View Team</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src={% static 'activities/js/profile.js' %}></script>
{% endblock %}
```
