{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'activities/css/style.css' %}>
{% endblock %}

{% block title %}Activities List{% endblock %}

{% block content %}
    <div class="profile-container">
        {% include 'activities/sidebar.html' %}
        <div class="profile-content">
            {% include 'activities/searchbar.html' %}
            <div class="dashboard-container">
                <div class="team">
                    <h1>{{ team.name }}</h1>
                    <p>{{ team.description }}</p>
                    {% for member in team.members.all %}
                        <div class="member">
                            <p>{{ member.username }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src={% static 'activities/js/profile.js' %}></script>
{% endblock %}
```
