<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <h1>Activity Manager</h1>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy; 2023 Activity Manager</p>
        {% endblock %}
    </footer>

{#    {% block js %}#}
{#    <script src="{% static 'js/script.js' %}"></script>#}
{#    {% endblock %}#}
</body>
</html>
